.head{
    background-color:#f8f9fa;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
  
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
}
h1{
    font-family: 'Pokemon',sans-serif;
    color:#ffcc00;
}
input{
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 20px;
    width: 80%;
    
    transition: border-color 0.5s;
}
input[type="text"]:focus {
    outline: none; 
    border-color: #0056b3; 
}
input::placeholder{
    color: #aaa;
}
.icon{
    color: #007bff;
    cursor: pointer;
    
}
.icon:hover{
    color: #0056b3;
}

.search-icon {
    background-color: #007bff; 
    color: white; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-left: 10px;
}

.search-icon:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
